apiVersion: v1
kind: ConfigMap
metadata:
  name: hosted-loadbalancer-keepalived
  namespace: openshift-hosted-loadbalancer
data:
  VIP_ADDR: "{{ vip_addr }}"
  ROUTER_ID: "{{ router_id }}"
  VIP_PASS: "{{ vip_pass }}"
---
apiVersion: apps/v1
kind: DaemonSet
metadata:
  name: hosted-loadbalancer
  namespace: openshift-hosted-loadbalancer
  labels:
    k8s-app: hosted-loadbalancer
spec:
  replicas: 1
  selector:
    matchLabels:
      k8s-app: hosted-loadbalancer
  updateStrategy:
    type: RollingUpdate
    rollingUpdate:
      maxUnavailable: 1
  template:
    metadata:
      labels:
        k8s-app: hosted-loadbalancer
    spec:
      containers:
      - name: keepalived
        image: quay.io/faros/hosted-loadbalancer-keepalived:{{ loadbalancer_verion }}
        serviceAccountName: hosted-loadbalancer
        securityContext:
          privileged: true
          runAsUser: 0
        envFrom:
        - configMapRef:
            name: hosted-loadbalancer-keepalived
        livenessProbe:
          exec:
            command:
              - /app/healthz
          initialDelaySeconds: 5
          periodSeconds: 5
        readinessProbe:
          exec:
            command:
              - /app/healthz
          initialDelaySeconds: 5
          periodSeconds: 5
      nodeSelector:
        {{ node_selector | to_nice_yaml(indent=8, width=1337) | replace("_", "-") }}
      serviceAccountName: hosted-loadbalancer
      priorityClassName: "system-cluster-critical"
      restartPolicy: Always
      securityContext:
        runAsUser: 0
      hostNetwork: true
      tolerations:
      - key: "node-role.kubernetes.io/master"
        operator: "Exists"
        effect: "NoSchedule"
      - key: "node.kubernetes.io/unreachable"
        operator: "Exists"
        effect: "NoExecute"
        tolerationSeconds: 120
      - key: "node.kubernetes.io/not-ready"
        operator: "Exists"
        effect: "NoExecute"
        tolerationSeconds: 120
